<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <br>

  <% unless events.empty? %>
    <button type="button" data-container="body" class="btn btn-sm btn-info" data-toggle="popover" data-trigger="focus" data-placement="top" title="Events for <%= date %>" data-html="true">
      <%= pluralize(events.count, 'event') %>
      <div hidden>
        <div class="popup-content">
          <%= render partial: "calendars/events_popover", locals: { events: events } %>
        </div>
      </div>
    </button>
    
  <% end %>

<% end %>