<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <br>

  <% unless events.empty? %>
    <a tabindex="0" class="badge badge-pill badge-info" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="Events for <%= date %>" data-content="<%= render partial: "calendars/events_popover", locals: { events: events } %>" data-html="true"><%= pluralize(events.count, 'event') %></a>
  <% end %>

<% end %>