<div class="modal-header">
  <h5 class="modal-title" id="edit-calendar-entry-modal-label">Edit a calendar event</h5>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= simple_form_for @ce, url: space_calendar_entry_path, method: :patch, remote: true, html: { "data-type" => :json }, validate: true,
    wrapper_mappings: {
      check_boxes:    :vertical_collection,
      radio_buttons:  :vertical_collection,
      file:           :custom_file,
      boolean:        :custom_boolean_switch
    } do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :calendar_id, collection: @space.calendars.order(:name), as: :radio_buttons%>
    <%= f.input :start_time %>
    <%= f.input :end_time , wrapper_html: { id: 'end-time-input' } %>
    <%= f.input :all_day, label: "All day?", as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'all-day-checkbox' }%>
    <div class="modal-footer">
      <%= f.button :submit, "Edit", class: "btn-sm btn-primary" %>
    </div>
  <% end %>
</div>