<div class="modal-header">
  <h5 class="modal-title" id="new-calendar-entry-modal-label">Create a new calendar event</h5>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= simple_form_for @new_ce, url: space_calendar_entries_path, method: :post, remote: true, html: { "data-type" => :json }, validate: true,
    wrapper_mappings: {
      check_boxes:    :vertical_collection,
      radio_buttons:  :vertical_collection,
      file:           :custom_file,
      boolean:        :custom_boolean_switch
    } do |f| %>
    <%= f.input :name %>
    <%= simple_fields_for :entry_data_selector do |n| %>
      <%= n.input :type, collection: ["none", "washing machine sharing"], include_blank: false %>
    <% end %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :calendar_id, collection: @space.calendars.order(:name), as: :radio_buttons, required: true %>
    <%= f.input :start_time %>
    <%= f.input :end_time, wrapper_html: { id: 'end-time-input' } %>
    <%= f.input :all_day, label: "All day?", as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'all-day-checkbox' }%>
    <%= render partial: "calendar_entries/form_entry_wms", locals: { space: @space, f: f } %>
    <div id="form-entry-generic" style="display:none;">
      <%= f.simple_fields_for :entry_data_generic do |ed_f| %>
        <% @new_ce.entry_data.each do |k, v| %>
          <%= ed_f.input k.to_sym %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, "Create", class: "btn-sm btn-primary" %>
    </div>
  <% end %>
</div>
